@import '../../../Styles/colors';

div.search-container {
    display: flex;
    padding: 10px 0;
}
form.search-form {
    width: 100%;
    position: relative;
}

a.search-logo-meli {
    background-image: url(https://uca5b2bae88e780d4091e19fc0ab.previews.dropboxusercontent.com/p/thumb/ABd69tIRPp43Zow6cuux5p3VRx_SBFfo-omTnLKi9dVzim4G56-yLZmkh0EF4-oY5XtYCK2vZN1cuGRNTr2w91xoz3q-G3R5YMVobyxNyoKy1wZivx3dfVh33Uyl7-MIJ3tF1Q9Vrm1ej-z41JAbqGbcKjTbmkc-wDFDt5vU1Az9xE2lyfxm-vRsnAS3rXZqqUExi67KHAUFUIRRT8Uu0S0BANHezUoYBVzgYXd_9wIT6p3M4_EdruwG0zgqos99xlNw43rCZsdnB0q9qNRycTPln4-CGbbFZ3RLXwhZAMDsJr0onmkjiyRmdKWcNMtQgpFUWPSlw-knZQFsAKSulM_0J15Z0j_nFwObb-OFlLXNKQ/p.png);
    background-repeat: no-repeat;
    background-size: 40px 30px;
    height: 30px;
    width: 48px;
    margin: auto 10px;
    color: transparent;
    cursor: pointer;
}

input.search-input {
    height: 25px;
    padding: 5px 0 5px 10px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0,0,0,0.2);
    width: 99%;
}

button.search-button {
    font-size: 25px;
    background-image: url('https://uc3a8df335c17a66613392da1c05.previews.dropboxusercontent.com/p/thumb/ABcI-GFpwZaid_iw_YAGUiDYlkPhwBzlT2z5yob85llB3YQe5FN1HZMu_OuhiFg0UGtfzcCXVelh3KVUXbChwViegQWB5UgIYbOKgAQ2ANKj3HSP6Tmo7BDDuOMuct2LAi2gBe64ZBGOEKprhyhl_vctyNvPSKa9-J2EOzHq_pdvhTkno9u33GRBsksMuWzRsIwuEb_QHe4gwIPgsaWEnxasNdz6soMF6T6DisncG2uNe542ckIwOgAYEo6KxpxEEb6GrOrIUVfj2jJLZcjiNU5SVFkZT8tyy8Nd1Qn-fuG3eni-ifHArLBsBbbVuVT0KceKo9QYfz1CSeb2MbIauxGpNutYDdAcL7og-0Mlg9u0Tw/p.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    height: 35px;
    width: 35px;
    background-color: $bg-gray-light;
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}